@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-surface text-slate-900 antialiased;
  }

  h1, h2, h3, h4 {
    @apply font-display text-primary-dark;
  }

  #app {
    @apply min-h-screen bg-surface text-slate-900;
  }
}
